<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sections
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <div class="dropdown-menu-right" >Section 2
      <a href="#" class="dropdown-item">Assignment 1</a>
      <a href="#" class="dropdown-item">Assignment 2</a>
      <a href="#" class="dropdown-item">Assignment 3</a>
      </div>
  <div class="dropdown-divider"></div>
      <div class="dropdown-menu-right" >Section 5
        <a href="#" class="dropdown-item" routerLink="s05assignment1">Assignment 1</a>

      </div>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</nav>

<div class="container">
<router-outlet></router-outlet>
</div>

